.home-container {
    display: flex;
    align-items: start;
  }
  
  .video-container {
    position: relative;
    width: 60%;
    margin-right: 20px;
  }
  
  .text-box {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .delete-icon {
    cursor: pointer;
    margin-left: 5px;
    color: red;
    font-weight: bold;
  }
  